.header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.header__img__pokebola {
  height: 50px;
}

@media(max-width: 498px) {
  .header__image__pokemon {
    display: none;
  }
}
