.search__button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  margin-right: -6px;
  padding: 10px;
}

.search__pokemon {
  border: 1px solid black;
  border-radius: 0px 20px 20px 0px;
  border-left: none;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  width: 440px;
}

.search__pokemon:focus {
  outline: 0;
}

.search--hover:hover {
  cursor: pointer;
  border-color: gray;
}

@media(max-width: 998px) {
  .search__pokemon {
    width: 180px;;
  }
}
