.container__pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cart__pokemon {
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.548);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 250px;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.cart__pokemon:hover {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.548);
  transform: translate(-1px, -1px);
}

.img__pokemon {
  width: 100px;
}

.span__name__pokemon {
  font-size: larger;
  font-weight: bolder;
}

.loading {
  display: none;
}

.grass {
  background-color: rgba(0, 128, 0, 0.178);
  border: 1px solid green;
}

.fire {
  background-color: rgba(255, 0, 0, 0.178);
  border: 1px solid red;
}

.water {
  background-color: rgba(0, 0, 255, 0.178);
  border: 1px solid blue;
}

.bug {
  background-color: rgba(19, 92, 19, 0.267);
  border: 1px solid #a8bd75;
}

.normal {
  background-color: rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(0, 0, 0, 0.575);
}

.poison {
  background-color: rgba(137, 43, 226, 0.178);
  border: 1px solid blueviolet;
}

.electric {
  background-color: rgba(255, 255, 0, 0.178);
  border: 1px solid yellow;
}

.ground {
  background-color: #77462b2c;
  border: 1px solid #77462b;
}

.psychic {
  background-color: #fbe8e79a;
  border: 1px solid #ce8c88;
}

.fighting {
  background-color: #ac93978f;
  border: 1px solid #7e4c54;
}

.rock {
  background-color: #a5bbb6a1;
  border: 1px solid #648880;
}

.ghost {
  background-color: #dfe2f188;
  border: 1px solid #585d79;
}

.ice {
  background-color: rgba(245, 245, 245, 0.555);
  border: 1px solid rgb(130, 139, 146);
}

.dragon {
  background-color: rgba(245, 222, 179, 0.178);
  border: 1px solid wheat;
}
